bs4==0.0.1
colorlover==0.2.1
dash==0.20.0
dash-core-components==0.18.1
dash-html-components==0.8.0
dash-renderer==0.11.2
Flask==0.12.2
Mesa==0.8.3
networkx==2.1
numpy==1.14.0
pandas==0.22.0
pandas-datareader==0.6.0
plotly==2.3.0
Quandl==3.3.0
yahoo-finance==1.4.0
